html {
	box-sizing: border-box;
}


*, *::before, *::after {
	box-sizing: inherit;
}

.hidden {
	display: none;
}

body {
	-webkit-font-smoothing: antialiased;
	font-family: 'Roboto Mono', monospace;
	display: flex;
	margin: 0;
	min-height: 100vh;
	background-color: #383838;
	color: #FFF;
	font-weight: 500;
}

.tooltip {
	border: 1px solid #FFF;
	padding: 10px;
	position: absolute;
	top: 15px;
	left: 15px;
	width: 300px;
	pointer-events: none;
	font-size: 12px;
}

.tooltip .info {
	font-size: 15px;
	font-weight: 400;
	margin-top: 10px;
}

.tooltip .info span {
	font-weight: 700 !important;
}

#year-menu {
	
	flex: 0 1 80px;
	padding: 20px 10px;
	font-size: 14px;

}

#year-menu .inner {
	background-color: #222;

	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	height: 100%;
}

#year-menu div {
	cursor: pointer;
	text-align: center;
	padding: 5px 0;
	color: #777;

}

#year-menu div.active {
	color: #FFF;

}

#visualisation {
	padding-left: 10px;
	flex: 0 1 calc(100% - 80px);
}

#murders {
	position: relative;
}

h1 {
	flex: 1 0 100%;
}

.year-container {
	display: flex;
	flex-flow: row wrap;
}

.year-container .month-legend {
	width: 30px;
	padding-top: 50px;
	color: #777;
	display: none;
	font-size: 14px;
	text-transform: uppercase;
	
}

.unknown .murder {
	background-color: red;
}



.NE .murder {
	background-color: #FFBC00;
}

div[data-region='NE'] .header {
	color: #FFBC00;
}

.graph .NE {
	background-color: #FFBC00;	
}

.N .murder {
	background-color: #63823B;
}

div[data-region='N'] .header {
	color: #63823B;
}

.graph .N {
	background-color: #63823B;	
}

.CW .murder {
	background-color: #7F7A75;
}

div[data-region='CW'] .header {
	color: #7F7A75;
}

.graph .CW {
	background-color: #7F7A75;	
}


.S .murder {
	background-color: #997510;
}

div[data-region='S'] .header {
	color: #997510;
}

.graph .S {
	background-color: #997510;	
}

.SE .murder {
	background-color: #34489B;
}


div[data-region='SE'] .header {
	color: #34489B;
}

.graph .SE {
	background-color: #34489B;	
}

.month-legend div {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
}

.state-columns {
	padding-top: 50px;

	display: flex;
	flex: 1 1 calc(100% - 30px);
}

.year-container .state-columns > div {
	flex: 0 1 30px;
	border-right: 1px solid #555;

}

#svgContainer {
	

}

path.active, polygon.active {
	fill: red;
}


#info #text-data {
	flex: 0 1 calc(100% - 300px);
	display: flex;
	flex-flow: row wrap;
}

#text-data .graph {
	flex: 1 0 100%;
	height: 40px;
	display: flex;
}

#text-data .year {
	flex: 0 1 20%;
	min-height: 200px;
}

#text-data .murders {
	flex: 0 1 40%;
	min-height: 200px;
}

#text-data .murders .title {
	padding-bottom: 10px;
}

#text-data .population {
	flex: 0 1 40%;
	min-height: 200px;
	text-align: right;
}

#info {
	display: flex;
	padding-top: 20px;
}

#svgContainer {
	flex: 0 1 240px;
}

#svgContainer svg {
	width: 100%;
}

svg path, svg polygon {
	stroke: #FFF !important;
	stroke-width: 2px !important;
}

.state-column {
/*	display: flex;
	flex-flow: column nowrap;*/
	position: relative;
}

.state-column.off {
	opacity: 0.1;

}

.month .event-container > div:nth-last-child(1){
	border-right: none;
}

.event-container {
	display: flex;
	border-right: 1px solid #383838;
	border-bottom: 1px solid #383838;
}


.month {
	min-height: 30px;
	//display: flex;
}

.header {
	position: absolute;
	height: 20px;
	top: -20px;
	right: 0;
	left: 0;
	text-align: center;
	font-size: 14px;	

}



.murder {
	position: relative;
	flex: 0 0 30px;
	width: 30px;
	height: 30px;
	background-color: cyan;
	border-left: none;
}

.murder.hovered {
	opacity: 1 !important;
	z-index: 100;
}





