html {
	box-sizing: border-box;
}


*, *::before, *::after {
	box-sizing: inherit;
}

.hidden {
	display: none;
}

body {
	font-family: 'Roboto Mono', monospace;
	display: flex;
	margin: 0;
	min-height: 100vh;
	background-color: #383838;
	color: #FFF;

}

#year-menu {
	display: flex;
	flex-flow: column nowrap;
	flex: 0 1 80px;
	padding: 10px;
	font-size: 14px;
	justify-content: space-between;
	background-color: #222;
}

#year-menu div {
	cursor: pointer;
	text-align: center;

}

#year-menu div.active {
	color: red;

}

#visualisation {
	padding-left: 10px;
	flex: 0 1 calc(100% - 80px);
}

#murders {

}

h1 {
	flex: 1 0 100%;
}

.year-container {
	display: flex;
	flex-flow: row wrap;
}

.year-container .month-legend {
	width: 30px;
	padding-top: 50px;

	font-size: 14px;
	text-transform: uppercase;
	
}

.unknown .murder {
	background-color: red;
}



.NE .murder {
	background-color: #FFBC00;
}

div[data-region='NE'] .header {
	color: #FFBC00;
}

.N .murder {
	background-color: #63823B;
}

div[data-region='N'] .header {
	color: #63823B;
}

.CW .murder {
	background-color: #7F7A75;
}

div[data-region='CW'] .header {
	color: #7F7A75;
}

.S .murder {
	background-color: #997510;
}

div[data-region='S'] .header {
	color: #997510;
}

.SE .murder {
	background-color: #34489B;
}


div[data-region='SE'] .header {
	color: #34489B;
}

.month-legend div {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
}

.state-columns {
	padding-top: 50px;

	display: flex;
	flex: 1 1 calc(100% - 30px);
}

.year-container .state-columns > div {
	flex: 0 1 30px;
	border-right: 1px solid #555;

}

#svgContainer {
	

}

path.active, polygon.active {
	fill: red;
}

#info {
	display: flex;
	padding-top: 20px;
}

#info > div {
	flex: 0 1 33.3%;
	
}
#svgContainer svg {
	width: 300px;
}

svg path, svg polygon {
	stroke: #FFF !important;
	stroke-width: 2px !important;
}

.state-column {
/*	display: flex;
	flex-flow: column nowrap;*/
	position: relative;
}

.state-column.off {
	opacity: 0.1;

}

.month div:nth-last-child(1){
	border-right: none;
}

.event-container {
	display: flex;
	border-right: 1px solid #383838;
	border-bottom: 1px solid #383838;
}


.month {
	min-height: 30px;
	display: flex;
}

.header {
	position: absolute;
	height: 20px;
	top: -20px;
	right: 0;
	left: 0;
	text-align: center;
	font-size: 14px;	

}

.murder {

	flex: 0 0 30px;
	width: 30px;
	height: 30px;
	background-color: cyan;
	
	border-left: none;
}





